<% msg_holder_class = message.user == current_user ? " msg-left" : " msg-right" %>
<div class="message-holder<%= msg_holder_class %>" id="message-<%= message.id %>">
  <small>
    <% msg_class = message.user == current_user ? " msg-yellow" : " msg-grey" %>
    <strong><%= message.user.first_name %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p class="message-content<%= msg_class %>"><%= message.content %></p>
</div>
