<%= link_to chatroom_path(chatroom) do %>
  <div class="list-group-item list-group-item-action">
    <!-- LIST OF CHATROOMS -->
    <div class="d-flex w-100 align-items-center gap-3">
      <% if chatroom.mentor.avatar.attached? %>
        <%= cl_image_tag chatroom.mentor.avatar.key, class: "avatar" %>
      <% elsif chatroom.padawan.avatar.attached? %>
        <%= cl_image_tag chatroom.padawan.avatar.key, class: "avatar" %>
      <% else %>
        <%= image_tag asset_url("placeholder-avatar.png"), class: "avatar" %>
      <% end %>
      <% if current_user.mentor? %>
        <p class="flex-grow-1 m-0"><%= chatroom.padawan.first_name %></p>
      <% else %>
        <p class="flex-grow-1 m-0"><%= chatroom.mentor.first_name %></p>
      <% end %>
    </div>
  </div>
<% end %>
