<div class="container">
  <div class="row">
    <!-- SIDEBAR -->
    <div class="col-4" id="sticky-sidebar">
      <div class="border">
        <div class="list-group">
          <%= render @chatrooms %>
        </div>
      </div>
    </div>
    <div class="col-8" id="main">
        <div class="chatroom mt-0 border rounded">
          <div class="messages"
              data-controller="chatroom-subscription"
              data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
              >
              <%= render @chatroom.messages %>
            </div>
            <%= simple_form_for [@chatroom, @message], remote: true do |f| %>
              <%= f.input :content, label: false, class: "rounded", placeholder: "Message" %>
              <%= button_tag type: "submit", class: "btn btn-flat text-primary" do %>
                <i class="fas fa-paper-plane"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
