<div class="mentors-cards" data-filter-target="mentors">
  <h3 class= 'results'><%= @mentors.count %> results </h3>
  <div class="container-mentors" >
    <% mentors.each do |mentor| %>
        <div class="card-mentors">
          <%= link_to mentor_path(mentor) do %>
            <div class="card-header-mentors">
              <% if mentor.avatar.attached? %>
                <%= cl_image_tag mentor.avatar.key, class: "avatar" %>
              <% else %>
                  <%= image_tag asset_url("placeholder-avatar.png"), class: "avatar" %>
              <% end %>
            </div>
          <% end %>
          <div class="card-body-mentors">
            <div class="mentor-tag d-flex flex-wrap">
              <% front_end_skills = mentor.tag_list.select { |tag| User::SKILLS[:frontend].include?(tag) } %>
              <% if front_end_skills.any? %>
                  <% front_end_skills.each do |front_end_skill| %>
                    <span class="tag tag-teal"><%= front_end_skill %></span>
                  <% end %>
              <% end %>
              <% back_end_skills = mentor.tag_list.select { |tag| User::SKILLS[:backend].include?(tag) } %>
              <% if back_end_skills.any? %>
                  <% back_end_skills.each do |back_end_skill| %>
                    <span class="tag tag-purple"><%= back_end_skill %></span>
                  <% end %>
              <% end %>
            </div>
            <h4>
              <%= "#{mentor.first_name} #{mentor.last_name}" %>
            </h4>
            <div>
              <span><%= mentor.description.truncate(80) %></span>
              <%= link_to "See more", mentor_path(mentor) %>
            </div>
          </div>
          <div class="d-flex justify-content-between p-2">
                <div><%= mentor.rating %>/5 <i class="fas fa-star img-attributes"></i></div>
                <div><%= mentor.missions_as_mentor.count %> <%= "mission".pluralize(mentor.missions_as_mentor.count) %> <i class="fas fa-briefcase img-attributes"></i></div>
          </div>
        </div>
    <% end %>
  </div>
</div>
