<div class="container">
  <h1>Hello, bienvenue dans le back</h1>
  <br>
  <h2>Relationships:</h2>
  <hr>
  <h4>Connected:</h4>
    <ul>
      <% @accepted_relationships.each do |accepted_relationship| %>
        <% padawan = accepted_relationship.padawan %>
        <li><%= padawan.name  %></li>
      <% end %>
    </ul>
  <h4>Pending</h4>
    <ul>
      <% @pending_relationships.each do |pending_relationship| %>
        <% padawan = pending_relationship.padawan %>
        <li>
          <%= padawan.name  %>
          <%= link_to "Accept",
            approve_relationship_path(pending_relationship),
            method: :patch
          %> |
          <%= link_to "Decline",
            decline_relationship_path(pending_relationship),
            method: :patch
          %>
        </li>
      <% end %>
    </ul>
  <h4>Denied:</h4>
    <ul>
      <% @denied_relationships.each do |denied_relationship| %>
        <% padawan = denied_relationship.padawan %>
        <li>
          <%= padawan.name  %>
          <%= link_to "Accept",
            approve_relationship_path(denied_relationship),
            method: :patch
          %>
        </li>
      <% end %>
    </ul>
  <br>
  <hr>
  <h2>Missions:</h2>
  <hr>
  <ol>
    <% @missions.each do |mission| %>
    <li>
      <p><%= "#{mission.name} (#{mission.status}) " %> </p>
      <h6> Applications: </h6>
      <ul>
        <% mission.applies.each do |application| %>
          <li>
            <%= "#{application.padawan.first_name} (#{application.created_at})" %>
            <%= link_to "Accept", "" %> |
            <%= link_to "Decline", "" %>
          </li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ol>
</div>
