<div class="container">
		<div class="main-body mt-3">
			<div class="row">
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
                <% if current_user.avatar.attached? %>
                  <%= cl_image_tag current_user.avatar.key, class: "avatar-large" %>
                <% else %>
                  <%= image_tag asset_url("placeholder-avatar.png"), class: "avatar-large" %>
                <% end %>
								<div class="mt-3">
									<h4><%= "#{@user.first_name} #{@user.last_name}" %></h4>
									<p class="text-secondary mb-1">Full Stack Developer</p>
									<p class="text-muted font-size-sm"><%= @user.address %></p>
								</div>
							</div>
							<hr class="my-4">
              <div class="mt-3">
                <p class="text-center fs-5">CONFIRMED PADAWAN</p>
                <ul class="list-inline d-flex justify-content-between">
                  <li class="list-inline-item">
                    <i class="fas fa-user-graduate img-attributes"></i> 2 recommandations
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-briefcase img-attributes"></i> 3 missions done
                  </li>
                </ul>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated rounded" role="progressbar" aria-valuenow="<%= @user.xp_level %>"  aria-valuemin="0" aria-valuemax="100" style="width: <%= @user.xp_level %>%"><%= @user.xp_level %>%</div>
                </div>
                <p class="text-primary text-center fs-6">7 missions to get to the next level! </p>
              </div>
							<hr class="my-4">
							<ul class="list-group list-group-flush">
								<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
									<h6 class="mb-0"><i class="fab fa-github"></i> Github</h6>
									<span class="text-secondary"><%= @user.link_github %></span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
									<h6 class="mb-0"><i class="fas fa-laptop-code"></i> Malt</h6>
									<span class="text-secondary"><%= @user.link_malt %></span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
									<h6 class="mb-0"><i class="fab fa-slack"></i> Slack</h6>
									<span class="text-secondary"><%= @user.link_slack %></span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="row">
						<div class="col-sm-12">
              <div class="card border-0">
								<div class="card-body">
									<h5 class="d-flex align-items-center mb-3">Mentors</h5>
                  <!-- MENTORS ACCEPTED -->
                  <div class="list-group">
                    <% @mentors.each do |mentor| %>
                      <%= link_to mentor_path(mentor) do %>
                        <div class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 align-items-center gap-3">
                            <% if mentor.avatar.attached? %>
                              <%= cl_image_tag mentor.avatar.key, class: "avatar" %>
                            <% else %>
                              <%= image_tag asset_url("placeholder-avatar.png"), class: "avatar" %>
                            <% end %>
                            <h5 class="flex-grow-1 mb-1"><%= "#{mentor.first_name} #{mentor.last_name}" %></h5>
                            <p class="text-success text-center flex-align-end"> <span class="fw-bolder">Connected</span> <i class="fas fa-check-circle"></i></p>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                  <!-- MENTORS PENDING OR DENIED -->
                  <div class="list-group transparent mt-3">
                    <% @applied_mentors.each do |applied_mentor| %>
                      <%= link_to mentor_path(applied_mentor) do %>
                        <div class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 align-items-center gap-3">
                            <% if applied_mentor.avatar.attached? %>
                              <%= cl_image_tag applied_mentor.avatar.key, class: "avatar" %>
                            <% else %>
                              <%= image_tag asset_url("placeholder-avatar.png"), class: "avatar" %>
                            <% end %>
                            <h5 class="flex-grow-1 mb-1"><%= "#{applied_mentor.first_name} #{applied_mentor.last_name}" %></h5>
                            <% case current_user.relationship_request_status(applied_mentor) %>
                            <% when "not_connected" %>
                              <p class="text-warning text-center"> <span class="fw-bolder">Not connected</span> <i class="fas fa-times"></i></p>
                            <% else %>
                              <p class="text-secondary text-center"> <span class="fw-bolder">Pending</span> <i class="fas fa-hourglass-half"></i></i></p>
                            <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
								</div>
							</div>
						</div>
            <div class="col-sm-12">
              <div class="card border-0">
								<div class="card-body">
									<h5 class="d-flex align-items-center mb-3">Connections</h5>
                  <!-- PADAWAN ACCEPTED -->
                  <div class="list-group">
                    <% @padawans.each do |padawan| %>
                      <%= link_to mentor_path(padawan) do %>
                        <div class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 align-items-center gap-3">
                            <% if padawan.avatar.attached? %>
                              <%= cl_image_tag padawan.avatar.key, class: "avatar" %>
                            <% else %>
                              <%= image_tag asset_url("placeholder-avatar.png"), class: "avatar" %>
                            <% end %>
                            <h5 class="flex-grow-1 mb-1"><%= "#{padawan.first_name} #{padawan.last_name}" %></h5>
                            <% relationship = Relationship.find_by(padawan: padawan, mentor: current_user) %>
                            <p class="text-success text-center flex-align-end"> <span class="fw-bolder"><%= relationship.status %></span> <i class="fas fa-check-circle"></i></p>
                            <% if relationship.pending? %>
                              <%= link_to "Connect", mentor_relationship_path(current_user, relationship), method: :patch %>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 mt-3">
							<div class="card border-0">
								<div class="card-body">
									<h5 class="d-flex align-items-center mb-3">Missions</h5>
                    <!-- MISSIONS ACCEPTED -->
                    <div class="list-group">
                      <% @missions.each do |mission| %>
                        <div class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><%= mission.name %></h5>
                            <small>
                              <ul class="list-inline d-flex justify-content-between">
                                <li class="list-inline-item">
                                  <i class="fas fa-building"></i><%= mission.company %>
                                </li>
                                <li class="list-inline-item">
                                  <i class="fas fa-clock"></i></i> <%= mission.duration %>
                                </li>
                                <li class="list-inline-item">
                                  <i class="fas fa-euro-sign"></i> <%= mission.fee %>
                                </li>
                              </ul>
                            </small>
                          </div>
                          <% case mission.status %>
                          <% when "on_going" %>
                            <p class="text-center fs-3 m-0"><span class="text-success">ONGOING <i class="fas fa-plane-departure"></span></i></p>
                          <% when "finished" %>
                            <p class="text-center fs-3 m-0"><span class="text-muted">FINISHED <i class="fas fa-plane-arrival"></span></i></p>
                          <% else %>
                            <p class="text-center fs-5 m-0">WILL BEGIN IN <%= "#{(mission.start_date - Date.today).to_i} DAYS" %></i></p>
                          <% end %>
                          <p class="mb-1"><%= mission.description %></p>
                        <% end %>
                      </div>
                    </div>
                    <!-- MISSIONS WHERE APPLICATION IS PENDING OR DENIED -->
                    <div class="list-group transparent mt-3">
                      <% @applied_missions.each do |applied_mission| %>
                        <div class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><%= applied_mission.name %></h5>
                            <small>
                              <ul class="list-inline d-flex justify-content-between">
                                <li class="list-inline-item">
                                  <i class="fas fa-building"></i><%= applied_mission.company %>
                                </li>
                                <li class="list-inline-item">
                                  <i class="fas fa-clock"></i></i> <%= applied_mission.duration %>
                                </li>
                                <li class="list-inline-item">
                                  <i class="fas fa-euro-sign"></i> <%= applied_mission.fee %>
                                </li>
                              </ul>
                            </small>
                          </div>
                          <% case applied_mission.application_status(current_user) %>
                          <% when "denied" %>
                            <p class="text-center fs-5 m-0">Application <span class="text-danger">DENIED <i class="fas fa-times"></i></span></i></p>
                          <% else %>
                            <p class="text-center fs-5 m-0">Application <span class="text-secondary">PENDING</span></i></p>
                          <% end %>
                          <p class="mb-1"><%= applied_mission.description %></p>
                        <% end %>
                      </div>
                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
