<div class="body-dashboard" style="min-height: calc(100vh - 150px);">
  <div class="container">
    <div class="main-body">
      <div class="row">
        <div class="col-lg-3">
          <div class="card-profil mb-3 mt-3 shadow-sm">
              <div class="d-flex flex-column">
                <% if current_user.avatar.attached? %>
                  <%= cl_image_tag current_user.avatar.key, class: "avatar-medium" %>
                <% else %>
                  <%= image_tag asset_url("placeholder-avatar.png"), class: "avatar-medium" %>
                <% end %>
                <div class="mt-3">
                  <h4><%= "#{@user.first_name} #{@user.last_name}" %></h4>
                  <p class="text-secondary mb-1 padawan-info">Full Stack Developer</p>
                  <p class="text-muted font-size-sm padawan-info"><%= @user.address %></p>
                  <p class="fake-button-dashboard">Update my profile</p>
                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="d-flex card-dashboard mb-3 mt-3 shadow-sm">
            <div class="card-body" style="width: 495px;">
              <h5 class="d-flex align-items-center mb-3">My experience level</h5>
              <div class="progress card-level" style="height: 28px; border-radius: 10px;">
                  <div class="progress-bar bg-info rounded progress-bar" role="progressbar" aria-valuenow="<%= @user.xp_level %>"  aria-valuemin="0" aria-valuemax="100" style="width: <%= @user.xp_level %>%"><%= @user.xp_level %>%</div>
              </div>
              <p class="next-mission text-center fs-6", style="margin-top: 27px"><%= 10 - @missions.count%> missions left to get to the next level</p>
              <div class="stats">
                <div class="small-card-level">
                <span class="small-card-level-title">YOUR PROFILE</span>
                  <h6 class="full-text"><span class="mx-1">✅ </span> Complete</h6>
                </div>
                <div class="small-card-level">
                  <span class="small-card-level-title">YOUR MISSIONS</span>
                  <h6><span class="mx-1">🚀 </span> <%= current_user.finished_missions_as_padawan.count %> finished</h6>
                </div>
                <div class="small-card-level">
                  <span class="small-card-level-title">YOUR RATING</span>
                  <h6 class="fs-3">4.75</h6><span class="small-rating">/5 ⭐</span>
                </div>
              </div>
            </div>
            <div>
              <%= image_tag("status-padawan.png", class:"card-next-level") %>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <h5 class="align-items-center m-3"><%= "My mentor".pluralize(@mentors.count)%> <!-- (<%= @mentors.count %>) --></h5>
          <div class="bubbles m-3" data-controller="tippy">
          <!-- MENTORS ACCEPTED -->
            <div class="mentor_bubbles">
              <% @mentors.each do |mentor| %>
                <%= link_to mentor_path(mentor) do %>
                  <% if mentor.avatar.attached? %>
                    <div class="div-avatar">
                      <%= cl_image_tag mentor.avatar.key, class: "avatar-medium", data: { tippy_target: "avatar", content: mentor.name} %>
                      <%= image_tag("check.png", class:"avatar-status") %>
                    </div>
                  <% else %>
                    <div class="div-avatar">
                      <%= image_tag asset_url("placeholder-avatar.png"), class:"avatar-medium", data: { tippy_target: "avatar", content: mentor.name} %>
                      <%= image_tag("check.png", class:"avatar-status") %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
              <% @applied_mentors.each do |applied_mentor| %>
                <%= link_to mentor_path(applied_mentor) do %>
                  <div class="div-avatar">
                    <% if applied_mentor.avatar.attached? %>
                      <%= cl_image_tag applied_mentor.avatar.key, class: "avatar-medium", data: { tippy_target: "avatar", content: applied_mentor.name } %>
                      <% case current_user.relationship_request_status(applied_mentor) %>
                      <% when "denied" %>
                        <%= image_tag("remove.png", class:"avatar-status3") %></p>
                      <% else %>
                        <%= image_tag("minuteur.png", class:"avatar-status2") %></p>
                      <% end %>
                    <% else %>
                      <%= image_tag asset_url("placeholder-avatar.png"), class: "avatar-medium", data: { tippy_target: "avatar", content: applied_mentor.name } %>
                      <% case current_user.relationship_request_status(applied_mentor) %>
                      <% when "denied" %>
                        <%= image_tag("remove.png", class:"avatar-status3") %></p>
                      <% else %>
                        <%= image_tag("minuteur.png", class:"avatar-status2") %></p>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="mb-3">
            <!-- DEBUT NAVBARD BOOTSTRAP -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"><%= "Mission on-going (#{@missions.where.not(status: 2).count})" %></button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false"><%="Mission applied (#{@applied_missions.count})" %></button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false"><%= "Mission finished (#{@missions.where(status: 2).count})" %></button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <!-- MISSIONS ON-GOING -->
                <% if @missions.where.not(status: 2).count == 0 %>
                  <%= link_to mentors_path do %>
                    <div id="nomissions" class="nav-card-mission">
                      <%= image_tag("nomissions.png", style:"height:100px") %>
                      <p>You don't have any on-going mission, click <strong>here</strong> to find a mission</p>
                    </div>
                  <% end %>
                <% else %>
                  <% @missions.where.not(status: 2).each do |mission| %>
                    <div class="nav-card-mission">
                        <small>
                          <ul class="list-inline d-flex">
                            <li class="list-inline-item li-dashboard">
                              <%= image_tag("company.png", style:"width: 20px;") %> <%= mission.company %>
                            </li>
                            <li class="list-inline-item li-dashboard">
                              <%= image_tag("Time.png", style:"width: 20px;") %> <%= mission.duration %> days
                            </li>
                            <li class="list-inline-item li-dashboard">
                              <%= image_tag("money.png", style:"width: 20px;") %> <%= mission.fee %>€/day
                            </li>
                            <li class="li-status">
                              <% case mission.status %>
                              <% when "on_going" %>
                                <div class="d-flex">
                                  <%# <%= link_to "Finish", finished_mission_path(mission), class:"btn-yellow" %>
                                  <p class="text-center fs-6 m-0 on-going-tag">On-going</p>
                                </div>
                              <% when "finished" %>
                                <p class="text-center fs-6 m-0 finish-tag">Finished</p>
                              <% else %>
                                <p class="text-center fs-6 m-0 start-tag">Start in <%= "#{(mission.start_date - Date.today).to_i} days" %></p>
                              <% end %>
                            </li>
                          </ul>
                        </small>
                        <h5 class="mb-1"><%= mission.name %></h5>
                        <p class="mb-1"><%= mission.description %></p>
                        <div class="mission-tag d-flex flex-wrap p-3">
                          <% front_end_skills = mission.tag_list.select { |tag| User::SKILLS[:frontend].include?(tag) } %>
                          <% if front_end_skills.any? %>
                            <% front_end_skills.each do |front_end_skill| %>
                              <span class="tag tag-teal"><%= front_end_skill %></span>
                            <% end %>
                          <% end %>
                          <% back_end_skills = mission.tag_list.select { |tag| User::SKILLS[:backend].include?(tag) } %>
                          <% if back_end_skills.any? %>
                            <% back_end_skills.each do |back_end_skill| %>
                              <span class="tag tag-purple"><%= back_end_skill %></span>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                  <% end %>
                <% end %>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <!-- MISSIONS WHERE APPLICATION IS PENDING OR DENIED -->
                  <% @applied_missions.each do |mission| %>
                    <div class="nav-card-mission">
                      <small>
                        <ul class="list-inline d-flex">
                          <li class="list-inline-item li-dashboard">
                            <%= image_tag("company.png", style:"width: 20px;") %> <%= mission.company %>
                          </li>
                          <li class="list-inline-item li-dashboard">
                            <%= image_tag("Time.png", style:"width: 20px;") %> <%= mission.duration %> days
                          </li>
                          <li class="list-inline-item li-dashboard">
                            <%= image_tag("money.png", style:"width: 20px;") %> <%= mission.fee %>€/day
                          </li>
                        </ul>
                      </small>
                      <h5 class="mb-1"><%= mission.name %></h5>
                      <p class="mb-1"><%= mission.description %></p>
                      <div class="mission-tag d-flex flex-wrap p-3">
                        <% front_end_skills = mission.tag_list.select { |tag| User::SKILLS[:frontend].include?(tag) } %>
                        <% if front_end_skills.any? %>
                          <% front_end_skills.each do |front_end_skill| %>
                            <span class="tag tag-teal"><%= front_end_skill %></span>
                          <% end %>
                        <% end %>
                        <% back_end_skills = mission.tag_list.select { |tag| User::SKILLS[:backend].include?(tag) } %>
                        <% if back_end_skills.any? %>
                          <% back_end_skills.each do |back_end_skill| %>
                            <span class="tag tag-purple"><%= back_end_skill %></span>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
              <!-- MISSIONS FINISHED -->
              <% @missions.where(status: 2).each do |mission| %>
                    <div class="nav-card-mission">
                      <small>
                        <ul class="list-inline d-flex">
                          <li class="list-inline-item li-dashboard">
                            <%= image_tag("company.png", style:"width: 20px;") %> <%= mission.company %>
                          </li>
                          <li class="list-inline-item li-dashboard">
                            <%= image_tag("Time.png", style:"width: 20px;") %> <%= mission.duration %> days
                          </li>
                          <li class="list-inline-item li-dashboard">
                            <%= image_tag("money.png", style:"width: 20px;") %> <%= mission.fee %>€/day
                          </li>
                          <li class="li-status">
                            <% case mission.status %>
                            <% when "on_going" %>
                            <p class="text-center m-0 fs-6 on-going-tag">On-going</p>
                              <%= link_to "Finish", finished_mission_path(mission), class:"btn-yellow" %>
                            <% when "finished" %>
                              <p class="text-center fs-6 m-0 finish-tag">Finished</p>
                            <% else %>
                              <p class="text-center fs-6 m-0 start-tag">Start in <%= "#{(mission.start_date - Date.today).to_i} days" %></p>
                            <% end %>
                          </li>
                        </ul>
                      </small>
                      <h5 class="mb-1"><%= mission.name %></h5>
                      <p class="mb-1"><%= mission.description %></p>
                      <div class="mission-tag d-flex flex-wrap p-3">
                          <% front_end_skills = mission.tag_list.select { |tag| User::SKILLS[:frontend].include?(tag) } %>
                          <% if front_end_skills.any? %>
                            <% front_end_skills.each do |front_end_skill| %>
                              <span class="tag tag-teal"><%= front_end_skill %></span>
                            <% end %>
                          <% end %>
                          <% back_end_skills = mission.tag_list.select { |tag| User::SKILLS[:backend].include?(tag) } %>
                          <% if back_end_skills.any? %>
                            <% back_end_skills.each do |back_end_skill| %>
                              <span class="tag tag-purple"><%= back_end_skill %></span>
                            <% end %>
                          <% end %>
                    </div>
                      <!-- CREATE REVIEW IF NOT EXIST, UPDATE OTHERWISE-->
                    <div class="review">
                      <% if mission.reviews.exists?(reviewer: current_user) && mission.status == "finished" %>
                        <div class="review-container">
                          <span>YOUR REVIEW</span>
                          <div class="mission-review">
                              <% rating = mission.reviews.find_by(reviewer: current_user).rating %>
                              <% rating.times do %>
                                <i class="fas fa-star"></i>
                              <% end %>
                              <% (5 - rating).times do %>
                                <i class="far fa-star"></i>
                              <% end %>
                              <i class="fas fa-pencil-alt", data-bs-toggle="collapse" data-bs-target="#edit_review_2"></i>
                            <%= render "shared/new-review", mission: mission, review: mission.reviews.find_by(reviewer: current_user) %>
                            <div class="review-info">
                              <p><%= mission.reviews.find_by(reviewer: current_user).content %></p>
                            </div>

                          </div>
                        </div>
                      <% elsif mission.status == "finished" %>
                        <div class="review-container">
                          <span>YOUR REVIEW</span>
                          <p>Oooh! It seems that you haven't left any review yet! <%= link_to "Leave a review", "#", data: {bs_toggle: "collapse", bs_target: "#new_review"} %></p>
                          <div class="mission-review">
                            <%= render "shared/new-review", mission: mission, review: Review.new %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <!-- FIN NAVBARD BOOTSTRAP -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
