<!-- BANNER -->

<div class="banner">
  <div class="container">
    <h1>Get <strong>prepared</strong> for<br>
    your <strong>freelance journey</strong></h1>
    <p>Change your life and learn from freelance mentors. </p>
    <%= simple_form_for :search, url: mentors_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Look for mentor expertise"/>

        <button name="button" type="submit" class="btn btn-yellow">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
</div>

<!-- HOW IT WORKS -->
<div class="container">
  <div class="row g-4 row-cols-1 justify-content-center" style="height: 500px">
    <div class="feature col patch">
      <h2>FreeMentors' community</h2>
    </div>
    <hr class="hr-home">


    <div class="d-flex justify-content-around align-items-center mt-4">
      <div class="img-home3">
        <%= image_tag("Saly-15.png") %>
        <div style="margin-top: -30px;">
          <h1>562</h1>
          <h2>Mentors</h2>
        </div>
      </div>

      <div class="img-home2">
        <%= image_tag("Saly-26.png") %>
        <div>
          <h1>1 753</h1>
          <h2>Missions</h2>
        </div>
      </div>

      <div class="img-home">
        <%= image_tag("Saly-22.png") %>
        <div style="margin-top: 7px;">
          <h1>4 523</h1>
          <h2>Padawans</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="patch_2">
    <div class="card m-4 feedback_cards" style="max-width: 540px">
      <div class="row no-gutters">
        <div class="col-md-4">
          <%= image_tag "mentor.jpg", class: "card-img" %>
        </div>
        <div class="col-md-8" style="padding-left: 30px;">
          <div class="card-body">
            <h3 class="card-title">Alan Turing (Mentor)</h3>
            <p class="card-text">I came to FreeMentors to share my knowledge about web development and join an active community where I keep learning on new areas. <br>Today I trained 6 Padawans and still exchanging with them, I'm proud of the human aspect developt by FreeMentors</p>
            <p class="card-text"><small class="text-muted">Last updated 2 weeks ago</small></p>
          </div>
        </div>
      </div>
    </div>



    <div class="card m-4 feedback_cards" style="max-width: 540px">
      <div class="row no-gutters">
        <div class="col-md-4">
          <%= image_tag "padawan.jpg", class: "card-img" %>
        </div>
        <div class="col-md-8" style="padding-left: 30px;">
          <div class="card-body">
            <h3 class="card-title">Ada Lovelace (Padawan)</h3>
            <p class="card-text">I came to FreeMentors after my Webdev training because I wasn't confident to launch myself on the freelance market. <br>My mentors was here to unlock me and teach me some tips and review my code. </p>
            <p class="card-text"><small class="text-muted">Last updated 1 week ago</small></p>
          </div>
        </div>
      </div>
</div>
