<div class="mentor-show-card-mission shadow p-3 mt-3">
  <div class="<%= mission.status %>"></div>
  <div class="mentor-show-card-mission-infos d-flex justify-content-between align-items-center mb-3">
    <ul class="list-inline d-flex justify-content-start gap-5 m-0">
     <li class="list-inline-item li-dashboard">
        <%= image_tag("company.png", style:"width: 20px;") %> <%= mission.company %>
      </li>
      <li class="list-inline-item li-dashboard">
        <%= image_tag("Time.png", style:"width: 20px;") %> <%= mission.duration %> days
      </li>
      <% if connected %>
        <li class="list-inline-item li-dashboard">
          <%= image_tag("money.png", style:"width: 20px;") %> <%= mission.fee %>€/day
        </li>
      <% end %>
    </ul>
    <div class="finished-tag<%= " d-none" unless mission.status == "finished" %> text-success d-flex align-items-center p-2">
    <p class="m-0"><i class="fas fa-check"></i>  Finished</p>
    </div>
  </div>
  <div class="mentor-show-card-mission-desc">
    <p><%= mission.description %></p>
  </div>
  <div class="mission-tag d-flex flex-wrap p-3">
    <% front_end_skills = mission.tag_list.select { |tag| User::SKILLS[:frontend].include?(tag) } %>
    <% if front_end_skills.any? %>
        <% front_end_skills.each do |front_end_skill| %>
          <span class="tag tag-teal"><%= front_end_skill %></span>
        <% end %>
    <% end %>
    <% back_end_skills = mission.tag_list.select { |tag| User::SKILLS[:backend].include?(tag) } %>
    <% if back_end_skills.any? %>
        <% back_end_skills.each do |back_end_skill| %>
          <span class="tag tag-purple"><%= back_end_skill %></span>
        <% end %>
    <% end %>
  </div>
  <% if connected && mission.status != "finished" %>
    <div class="mentor-show-card-mission-application-button" style="display: flex; flex-direction: row-reverse">
      <%= button_tag current_user.not_yet_applied?(mission) ? "Apply" : "Applied",
        class: "btn btn-yellow-mentor my-2",
        disabled: !current_user.not_yet_applied?(mission),
        data: {
          bs_toggle: "modal",
          bs_target: "#applyFormModal-#{mission.id}"
        }
      %>
    </div>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade"
  id="applyFormModal-<%= mission.id %>"
  tabindex="-1"
  aria-labelledby="applyFormModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="applyFormModalLabel">Application form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= simple_form_for([mission, @application]) do |f| %>
        <div class="modal-body">
          <%= f.input :motivation,
                      label: "Explain why you would like to apply to the mission:",
                      placeholder: "Your motivations, qualifications, etc."
                      %>
        </div>
        <div class="modal-footer d-flex justify-content-end flex-row">
          <button type="button" class="btn btn-outline-secondary w-25" data-bs-dismiss="modal">Close</button>
          <%= f.submit "Send", class: "btn btn-yellow-mentor w-25" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
