
<div class="d-flex banner_mentors" style="align-items: center;">
  <%= image_tag("fusee-background.png", :class => "img_fusee") %>
  <div>
    <h1 id="title-index">List of all mentors</h1>
    <hr>
  </div>
</div>

<div class="mentors" data-controller="filter" data-filter-url-value=<%= mentors_path %>>
  <div class="filter">
    <%= form_tag mentors_path, method: 'get' do %>
      <h3>Frontend</h3>
      <div style="text-align: center">
        <% User::SKILLS[:frontend].each do |skill| %>

            <%= check_box_tag "tags[]", skill, !params[:tags].nil? && params[:tags].include?(skill), id: "#{skill}", class:"form-check-input check_boxes optional tag-selector", data: {action: 'change->filter#refresh', filter_target: 'checkbox'} %>
            <%= label_tag skill, nil, class:'form-check-label collection_check_boxes' %>
        <% end %>
      </div>
      <hr class="hr-mentor">
      <h3>Backend</h3>
      <div style="text-align: center">
        <% User::SKILLS[:backend].each do |skill| %>
          <% if !params[:tags].nil? && params[:tags].include?(skill) %>
            <% value = true %>
          <% else %>
            <% value = nil %>
          <% end %>
            <%= check_box_tag "tags[]", skill, value, id: "#{skill}", class:"form-check-input check_boxes optional tag-selector", data: {action: 'change->filter#refresh', filter_target: 'checkbox'} %>
            <%= label_tag skill, nil, class:'form-check-label collection_check_boxes' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= render "shared/mentors", mentors: @mentors  %>

</div>
