<h1>List of all mentors</h1>
<div class="mentors" data-controller="filter" data-filter-url-value=<%= mentors_path %>>
  <div class="filter">
    <% User::SKILLS.each do |key, value| %>
      <button data-action= 'click->filter#refresh'> <%= key %></button>
        <% value.each do |skill| %>
        <button data-action= 'click->filter#refresh'> <%= skill %></button>
        <% end %>
    <% end %>

    <%= form_tag mentors_path, method: 'get' do %>
      <% User::SKILLS.values.flatten.each do |skill| %>
        <%= check_box_tag "tags[]", skill, nil, id: "#{skill}" %>
        <%= label_tag "#{skill}" %>
      <% end %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

  </div>
  <%= render "shared/mentors", mentors: @mentors  %>
</div>
