<h1>List of all mentors</h1>
<div class="mentors" data-controller="filter" data-filter-url-value=<%= mentors_path %>>
  <div class="filter">

    <%= form_tag mentors_path, method: 'get' do %>
      <% User::SKILLS.values.flatten.each do |skill| %>
        <%= check_box_tag "tags[]", skill, (true if params[:tags].include?(skill)), id: "#{skill}", class:"form-check-input check_boxes optional tag-selector", data: {action: 'change->filter#refresh', filter_target: 'checkbox'} %>
        <%= label_tag skill, nil, class:'form-check-label collection_check_boxes' %>
      <% end %>
    <% end %>

  </div>
  <%= render "shared/mentors", mentors: @mentors  %>
</div>

<%# data-action= 'click->filter#refresh %>
