<div class="mentors" data-controller="filter" data-filter-url-value=<%= mentors_path %>>
  <div class="filter">
    <%= form_tag mentors_path, method: 'get' do %>
    <p class="text-filter">Frontend</p>
      <div style="text-align: center">
        <% User::SKILLS[:frontend].each do |skill| %>
            <%= check_box_tag "tags[]", skill, !params[:tags].nil? && params[:tags].include?(skill), id: "#{skill}", class:"form-check-input check_boxes optional tag-selector", data: {action: 'change->filter#refresh', filter_target: 'checkbox'} %>
            <%= label_tag skill, skill, class:'form-check-label collection_check_boxes', id:'frontend' %>
        <% end %>
      </div>
      <div class="backend">
        <p class="text-filter">Backend</p>
        <div style="text-align: center">
          <% User::SKILLS[:backend].each do |skill| %>
            <% if !params[:tags].nil? && params[:tags].include?(skill) %>
              <% value = true %>
            <% else %>
              <% value = nil %>
            <% end %>
              <%= check_box_tag "tags[]", skill, value, id: "#{skill}", class:"form-check-input check_boxes optional tag-selector", data: {action: 'change->filter#refresh', filter_target: 'checkbox'} %>
              <%= label_tag skill, skill, class:'form-check-label collection_check_boxes', id:'backend' %>
          <% end %>
        </div>
      </div>
      <hr class="hr-mentor">
        <div class="rating-missions">
          <div class="ratingfilter">
          <p class="text-filter">Minimum Rating</p>
          <%= select_tag "rating", options_for_select((1..5).to_a), data: { action:'change->filter#refresh', filter_target: 'select'} %>
          </div>
          <div class="missionsfilter">
          <%= check_box_tag 'missions', nil, nil, class:"toggle", data: {action: 'change->filter#refresh', filter_target: 'tickbox'} %>
          <%= label_tag 'missions', "Availables missions" %>
          </div>
        </div>
    <% end %>
    <%= image_tag asset_url("Saly-8.png") %>
  </div>
  <%= render "shared/mentors", mentors: @mentors  %>
</div>
