<!-- Configure the meta tags for the mentor show -->

<% content_for :meta_title, "#{@mentor.first_name} #{@mentor.last_name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @mentor.description %>
<% if @mentor.avatar.attached? %>
  <% content_for :meta_image, cl_image_path(@mentor.avatar.key) %>
<% end %>

<!-- end of configuration -->

    <div class="mentor-show-card mt-3 d-flex justify-content-center align-items-center">
     <div class="container">
      <div class="mentor-show-card-container d-flex justify-content-center align-items-center">
        <% if @mentor.avatar.attached? %>
            <%= cl_image_tag @mentor.avatar.key, class: "avatar-xl" %>
          <% else %>
            <%= image_tag asset_url("placeholder-avatar.png"), class: "avatar-xl" %>
          <% end %>
          <div class="mentor-show-card-infos">
            <h1><%= @mentor.first_name%> <%= @mentor.last_name%></h1>
            <p><%= @mentor.description %></p>
            <ul class="list-inline img_attributes-mentor">
              <li class="list-inline-item mentor-links"><a href=<%= @mentor.link_github %>><i class="fab fa-github"></i></a></li>
              <li class="list-inline-item mentor-links"><a href=<%= @mentor.link_malt %>><i class="fab fa-linkedin-in"></i></a></li>
              <li class="list-inline-item mentor-links"><a href=<%= @mentor.link_slack %>><i class="fab fa-slack"></i></a></li>
            </ul>
          </div>

          <div class="mentor-show-card-actions d-flex flex-column">
            <% case current_user.relationship_request_status(@mentor) %>
            <% when "pending" %>
              <p class="text-primary text-center"> <span class="fw-bolder">Pending request</span> <i class="fas fa-spinner fa-spin"></i></p>
            <% when "accepted" %>
              <p class="text-success text-center"> <span class="fw-bolder">Connected</span> <i class="fas fa-check-circle"></i></p>
            <% when "denied" %>
              <p class="text-warning text-center"> <span class="fw-bolder">Not connected</span> <i class="fas fa-times"></i></p>
            <% else %>
              <%= link_to mentor_relationships_path(@mentor), method: :post do %>
                <%= button_tag "Connect",
                              type: "button",
                              class: "btn btn-yellow-mentor my-2 w-100"
                %>
              <% end %>
            <% end %>
            <% if current_user.find_chatroom(@mentor).nil? %>
              <%= link_to mentor_chatrooms_path(@mentor), method: :post do %>
                <%= button_tag "Send a message",
                                type: "button",
                                class: "btn btn-blue-mentor my-2"
                  %>
              <% end %>
            <% else %>
              <%= link_to chatroom_path(current_user.find_chatroom(@mentor)) do %>
                <%= button_tag "Send a message",
                                type: "button",
                                class: "btn btn-blue-mentor my-2"
                  %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
     </div>


<div class="container">
  <!-- CARDS LEFT -->
  <div class="row lower-container mt-3">
    <div class="col-3">
      <div class="mentor-show-cards-left d-flex flex-column">
        <div class="mentor-show-card-skills mt-3">
          <div class="title"><h4>Skills</h4></div>
            <div class="mentor-tag d-flex flex-wrap p-3">
              <% front_end_skills = @mentor.tag_list.select { |tag| User::SKILLS[:frontend].include?(tag) } %>
              <% if front_end_skills.any? %>
                  <% front_end_skills.each do |front_end_skill| %>
                    <span class="tag tag-teal"><%= front_end_skill %></span>
                  <% end %>
              <% end %>
              <% back_end_skills = @mentor.tag_list.select { |tag| User::SKILLS[:backend].include?(tag) } %>
              <% if back_end_skills.any? %>
                  <% back_end_skills.each do |back_end_skill| %>
                    <span class="tag tag-purple"><%= back_end_skill %></span>
                  <% end %>
              <% end %>
          </div>
        </div>

        <div class="mentor-show-card-experiences mt-3">
          <div class="title"><h4>Experiences</h4></div>
          <div class="experiences p-3">
            <%= render 'experiences', mentor: @mentor %>
          </div>
        </div>

      </div>
    </div>

    <div class="col-9">
      <div class="mentor-show-cards-missions">
        <h4 class="title-blank mt-3"><%= "#{@missions.where.not(status: 2).count} #{('mission').pluralize(@missions.where.not(status: 2).count)}" %> available</h4>
        <% @missions.each do |mission| %>
          <%= render 'mentors-missions', mission: mission, connected: current_user.connected?(@mentor) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
