<h1>Missions#index</h1>
<p>Find me in app/views/missions/index.html.erb</p>
<ol>
  <% @missions.each do |mission| %>
    <li><%= mission.name %></li>
    <li><%= mission.company %></li>
    <li><%= mission.description %></li>
    <li><%= mission.start_date %></li>
    <li><%= mission.end_date %></li>
    <li><%= mission.duration %></li>
    <li><%= mission.mentor.last_name %></li>
    <li><%= mission.fee %></li>
    <li><%= mission.remote %></li>
    <li><%= mission.status %></li>
  </ol>
<% end %>
